<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.mapper.base.UserBaseMapper">

    <!--实体映射-->
    <resultMap id="BaseResultMap" type="com.example.demo.dao.entity.UserDO">
        <!--自增ID-->
        <result column="id" property="id"/>
        <!--用户昵称-->
        <result column="user_nick" property="userNick"/>
    </resultMap>

    <!-- 通用查询结果列-->
    <sql id="BaseColumn">
        <trim suffixOverrides=",">
            `id`,
            `user_nick`,
        </trim>
    </sql>

    <!-- 动态条件 -->
    <sql id="QueryCondition">
        <where>
            <if test="id != null">
                AND `id` = #{id}
            </if>
            <if test="idList != null">
                AND `id` IN
                <foreach collection="idList" close=")" open="(" separator="," item="item">
                    #{item}
                </foreach>
            </if>
            <if test="userNick != null and userNick != ''">
                AND `user_nick` = #{userNick}
            </if>
        </where>
    </sql>

    <insert id="insertSelective" parameterType="com.example.demo.dao.entity.UserDO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `yb_user`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                `id`,
            </if>
            <if test="userNick != null">
                `user_nick`,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="userNick != null">
                #{userNick},
            </if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.demo.dao.entity.UserDO">
        UPDATE `yb_user`
        <set>
            <if test="userNick != null and userNick != ''">
                `user_nick` = #{userNick},
            </if>
        </set>
        WHERE `id` = #{id}
    </update>

    <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.example.demo.dao.entity.param.UserConditionBuilder">
        SELECT
        <include refid="BaseColumn"/>
        FROM `yb_user`
        <include refid="QueryCondition"/>
    </select>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT
        <include refid="BaseColumn"/>
        FROM `yb_user`
        WHERE `id` = #{id}
    </select>
</mapper>