<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--异常拦截 统一处理 -->
    <aop:config>
        <!--定义切点-->
        <aop:pointcut id="resultControllerAspect"
                      expression="@within(org.springframework.web.bind.annotation.RestController)
                      and execution(com.example.demo.common.entity.Result *.*(..))"/>
        <!--定义切面-->
        <!--切面(advisor)通常由两部分组成：切点(pointcut)，增强(advice)（引用(introduction)）-->
        <aop:advisor advice-ref="httpServiceAspect" pointcut-ref="resultControllerAspect"/>
    </aop:config>

    <aop:config>
        <aop:pointcut id="remoteServiceAspect"
                      expression="execution(* com.example.demo.remote.service.*.*(..))"/>
        <aop:advisor advice-ref="dubboServiceAspect" pointcut-ref="remoteServiceAspect"/>
    </aop:config>
</beans>